{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <h1>Program index</h1>
<div class="d-flex justify-content-center">
    {{ form(form) }}
    <a class="btn btn-info" href="{{ path('app_admin_program_index') }}" >Reset</a>
</div>
    <a class="text-decoration-none" href="{{ path('app_admin_program_new') }}">Ajouter une nouvelle série</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Poster</th>
                <th>Synopsis</th>
                <th>Country</th>
                <th>Year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr class="position-relative">
                <td>{{ program.id }}</td>
                <td>{{ program.title }}</td>
                <td>{{ program.poster }}</td>
                <td>{{ program.synopsis }}</td>
                <td>{{ program.country }}</td>
                <td>{{ program.year }}</td>
                <td>
                    <a href="{{ path('app_admin_program_edit', {'id': program.id}) }}" class="stretched-link text-decoration-none">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="d-flex justify-content-center">
    {{ knp_pagination_render(programs) }}
</div>
{% endblock %}
